.list {
    border: 2px solid black;
    width: 300px;
    height: 300px;
    overflow: auto;
}

input {
    width: 300px;
    margin-top: 5px;
}

button {
    margin-top: 5px;
}
p {
    margin: 0;
}